@font-face {
  font-family: 'impactreg';
  src: url('../assets/fonts/impactreg.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'spray';
  src: url('../assets/fonts/spray-letters.woff2') format('woff2');
  font-display: swap;
}
